body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 202, 202);
}


.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: rgb(202, 202, 202);
    margin-bottom: 2rem;
}

.search-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 700px;
    margin-bottom: 2rem;
    border-radius: 15px;
    padding: .5rem 1rem;
}

.searchBtn {
    display: flex;
    align-items: center;
}

.searchBtn button {
    border: none;
    height: 2rem;
    background-color: blue;
    color: white;
    width: 4rem;
}

#search-input {
    width: 600px;
    height: 3rem;
    border: none;
}
.search-text {
    width: 100%;
}

.git-info {
    position: relative;
    width: 60%;
    margin-bottom: 3rem;
    line-height: 0%;
    
}

#joined {
    margin-bottom: 3.5rem;
}

#user-name {
    font-size: 2rem;
}

.git-results { 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: .5rem 1rem;
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
   
    background-color: white;
}


.git-img {
    object-fit: contain;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: solid 1px black;
    
}

.git-img img{
    object-fit: contain;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    border: solid 1px black;
    
}

.repo-results {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: white;

}

