body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(202, 202, 202);
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: white;
}

.search-container {
    display: flex;
    
}

#search-input {
    width: 600px;
    height: 3rem;
    border: none;
}
.search-text {
    width: 100%;
}

.git-info {
    position: relative;
    width: 60%;
    margin-bottom: 3rem;
    line-height: 0%;
    
}

#joined {
    margin-bottom: 3.5rem;
}

#user-name {
    font-size: 2rem;
}

.git-results { 
    object-fit: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
   
    background-color: white;
}

.searchBtn {
    background-color: rgb(92, 173, 211);
}


.git-img {
    height: 117px;
    width: 117px;
    border-radius: 50%;
    object-fit: contain;
}

.repo-results {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    background-color: white;

}

